In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import sys, os, nilearn, pickle, glob, shutil, itertools, random
from nilearn import plotting, input_data, datasets
import numpy as np
import pandas as pd
from statsmodels.stats.multitest import multipletests
from utils import *
import warnings
warnings.simplefilter("ignore")

/opt/anaconda3/envs/neuroimaging/lib/python3.9/site-packages/nilearn/input_data/__init__.py:27: FutureWarning: The import path 'nilearn.input_data' is deprecated in version 0.9. Importing from 'nilearn.input_data' will be possible at least until release 0.13.0. Please import from 'nilearn.maskers' instead.
  warnings.warn(message, FutureWarning)

In [10]:
anatomy_similarity_df = pd.read_csv('../data/05_results/anatomy_similarity_df.csv')
anatomy_df.head()

   Unnamed: 0  Anatomy Similarity Twin Status
0           0            0.742105        twin
1           1            0.745703        twin
2           2            0.757113        twin
3           3            0.772848        twin
4           4            0.743757        twin

In [11]:
twin_isc_df = pd.read_csv('../data/05_results/twin_isc_df.csv')
twin_isc_df.head()

   Unnamed: 0       ISC Twin Status
0           0  0.406846        twin
1           1  0.253610        twin
2           2  0.255721        twin
3           3  0.552928        twin
4           4  0.228784        twin

In [18]:
a = anatomy_df[anatomy_df['Twin Status']   == 'twin']['Anatomy Similarity'].values
b = twin_isc_df[twin_isc_df['Twin Status'] == 'twin']['ISC'].values

In [19]:
np.corrcoef(a, b)

array([[1.        , 0.05852123],
       [0.05852123, 1.        ]])

In [20]:
len(a)

200

In [23]:
a_no_twins =  anatomy_df[anatomy_df['Twin Status']   == 'no twin']['Anatomy Similarity'].values
a_no_twins.shape

(400,)

In [24]:
import scipy
scipy.stats.ttest_ind(a, a_no_twins)

Ttest_indResult(statistic=8.909926871998762, pvalue=6.125380474874889e-18)

In [25]:
np.mean(a)

0.7511195105216563

In [26]:
np.mean(a_no_twins)

0.7359866012145393